#root header h1 {
    margin-inline-end: auto;
}

 #root button:not(> .long-txt) {
    cursor: pointer;
    padding: 5px;
    border: 1px solid;
    border-radius: 7px;
    background-color: whitesmoke;
    color: rgb(0, 50, 50);
    font-weight: 700;
}

#root button:not(> .long-txt):hover {
    background-color: rgb(163, 202, 181);
}