.toy-container {
    margin-top: 20px;
}

.add-toy-link {
    display: inline-block;
    width: auto;          
    text-decoration: none;
}

.add-toy{
    display: inline-block;             
    background-color: #e4d28a; 
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.add-toy:hover {
    background-color: #c4c26c;
    transform: scale(1.05);
}
